// content

// --------------------
// content
// --------------------

.content {
	.products,
	.product,
	.pagination {
		@include container;
	}

	.products,
	.pagination {
		@include center-block;
	}

	// --------------------
	// products
	// --------------------

	.products {
		margin-top: 64px;
		max-width: 960px;

		// --------------------
		// product
		// --------------------

		.product {
			@include left;
			max-width: 960px * (1/3) - 16px;
			margin: 0 8px 64px 8px;
			border-radius: 2px;
			background: $dark;
			
			.name,
			.image,
			.button {
				width: 100%;
			}

			.name,
			.button {
				text-align: center;
				padding-top: 12px;
				padding-bottom: 12px;
			}

			// --------------------
			// name
			// --------------------

			.name {
				color: $light;
			}

			// --------------------
			// image
			// --------------------

			.image {
				position: relative;
				text-align: center;
				padding: 4px 0;
				background: darken($light, 20%);
			}
			.image .price {
				@include transform(rotate(45deg));
				position: absolute;
				top: -24px;
				right: -16px;
				width: 64px;
				height: 32px;
				line-height: 32px;
				vertical-align: middle;
				background: lighten($primary, 10%);

				&:before {
					content: '';
					position: absolute;
					left: -24px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 16px 25px 16px 0;
					border-color: transparent lighten($primary, 10%) transparent transparent;
				}

				span:before {
					content: '$';
				}
			}

			.image img {
				height: 196px;
				border-radius: 2px;
			}

			// --------------------
			// button
			// --------------------

			.button button {
				@include btn-primary;
				border-style: solid;
				border-width: 0 4px 4px 0;
				box-shadow: lighten($dark, 20%);
			}
		}

		@media only screen and (max-width: 961px) {
			.product {
				float: none;
				max-width: 256px;
				margin: 0 auto 64px auto;

				.image img {
					max-width: 232px;
					height: auto;
				}
			}
		}
	}

	// --------------------
	// pagination
	// --------------------

	.pagination {
		max-width: 960px * (2/3);
		text-align: center;

		li {
			display: inline-block;
			padding: 12px;
		}

		@media only screen and (max-width: 550px) {
			li {
				padding: 16px;
			}

			li.prev,
			li.ellipses,
			li.next {
				display: block;
			}
		}
	}
}